<!DOCTYPE html>
<html>
<head>
	<title>Caesar Cipher Reloaded</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

	<div class="container">
		<form>
			<input type="text" name="unencrypted_word" placeholder="Type word to encrypt">
			<input type="number" name="shift_number" step="1" min="0">
			<input type="submit" value="Submit">
		</form>

		<div class="response">
			<% if shift_number.is_a? Integer %>
			<p><%= unencrypted_word%> ---> <%=encrypted_word%></p>
			<p>(shifted <%= shift_number %> letters)</p>
			<% else %>
			<p><%=encrypted_word%></p>
			<% end %>
		</div>
	</div>	

</body>
</html>